* {
    box-sizing: border-box;
    /* border: .05em solid green; */
}
.active-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.active-player {
    border: .02em solid midnightblue;
    padding: .2em;
    width: 20vw;
    height: auto;

}