* {
    box-sizing: border-box;
}

/* --- Component Types --- */
.page {
    border: .1em solid black; 
}
.container {
    border: .1em solid black;
}
.card {
    border: .1em solid black;
}
.link {
    text-decoration: none;
}
.nav {
    display:flex;
    justify-content: flex-start;
    padding: .2em;
    width:100vw;
    height:10vh;
}
button {
    text-decoration: none;
}
/* --- */
/* --- All Teams --- */
.team-logo {
    width: 7em;
    height: 7em;
    align-self: center;
}
.all-teams {
    border: .5em solid red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}
.team-card {
    border: .1em solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .3em;
    margin: 1%;
    flex-basis: 10em;
    text-align: center;
}
/* --- */
/* --- Standings --- */
.league {
    border: .08em solid black;
    width: 25%;
    margin: 5%;
    padding: 5%;
    text-align: center;;
}
.league-filters {
    display:flex;
    justify-content: space-around;
}
.leagues {
    display:flex;
    justify-content: space-around;
    border: .5em solid gold;
}
.live-standings{
    display:flex;
    flex-direction: column;
    padding: 1em;
}
.american-league {
    width: 30vw;
    height: auto;
    border: .5em solid crimson; 
}
.national-league {
    width: 30vw;
    height: auto;
    border: .5em solid cornflowerblue;
}
/* --- */
/* --- Roster --- */
.active-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.active-player {
    border: .02em solid midnightblue;
    padding: .2em;
    width: 20vw;
    height: auto;
}
/* --- */