* {
    box-sizing: border-box;
}

/* Component Types */
.card {
    border: .1em solid black;
}
.container {
    border: .1em solid black;
}
.page {
    border: .1em solid black; 
}

/* Standings */
.league {
    border: .08em solid black;
    width: 25%;
    margin: 5%;
    padding: 5%;
    text-align: center;;
}
.league-filters {
    display:flex;
    justify-content: space-around;
}
.leagues {
    display:flex;
    justify-content: space-around;
    border: .5em solid salmon;
}
.live-standings{
    display:flex;
    flex-direction: column;
    padding: 1em;
}
.american-league {
    width: 30vw;
    height: auto;
    border: .5em solid crimson; 
}
.national-league {
    width: 30vw;
    height: auto;
    border: .5em solid cornflowerblue;
}

/* Roster */
.active-roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.active-player {
    border: .02em solid midnightblue;
    padding: .2em;
    width: 20vw;
    height: auto;
}
